body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
}

.Home {
  background-color: #16243E;
  height: 240vh;
}

.About {
  background-color: white;
  height: 340vh;
}

.Propertie {
  height: 140vh;
}