body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF8F2;
}

.Home {
  background-color: #16243E;
  height: 240vh;
}

.About {
  background-color: #FFF8F2;
  height: 340vh;
}

.Propertie {
  margin-top: 150px;
  height: 240vh;
}