body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF8F2;
}

.Home {
  background-color: #16243E;
}

.About {
  background-color: #FFF8F2;
}

.Propertie {
  margin-top: 150px;
}

.Blog {
  background-color: #FFF8F2;
}

.Footer {
  background-color: #16243E;
  color: #FFF8F2;
}

@media (max-width: 928px) {
  body {
    height: auto;
    width: auto;
  }

  .Home {
    display: flex;
    flex-direction: column;
  }
}