.last-about {
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-about-top-content {
    display: flex;
    justify-content: center;
    gap: 490px;
}

.last-about-top-left-subheading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -50px;
    color: rgba(255, 136, 0, 0.89);
}

.last-about-top-left-heading {
    font-size: 50px;
    font-weight: 500;
}

.last-about-top-right {
    border: 1px solid rgb(228, 222, 222);
    display: flex;
    justify-content: center;
    width: 360px;
    border-radius: 10px;
    height: 50px;
    gap: 10px;
    align-items: center;
    margin-top: 120px;
}

.last-about-btn {
    border-radius: 5px;
    height: 35px;
    border: none;
    background-color: rgb(228, 222, 222);
    font-size: 20px;
    transition: about-bc-color 0.5s ease-in-out;
    cursor: pointer;
}

.last-about-btn:hover {
    background-color: rgba(255, 136, 0, 0.89);
    color: white;
}

.last-about-card-content {
    width: 94%;
    display: flex;
    gap: 63px;
    margin-left: 40px;
    justify-content: center;
    height: 90vh;
}

.last-about-card {
    width: 30%;
    border-radius: 25px;

    background-color: rgb(228, 222, 222);
    overflow: hidden;
}

.last-about-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.last-about-card-details {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.author-profile img {
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 250px;
    width: 50px;
}

.last-about-card-raiting-and-numerical {
    display: flex;
    gap: 2px;
    margin-left: 20px;
}

.last-about-card-raiting-and-numerical span {
    margin-top: -3px;
}

.last-about-card-heading {
    margin-left: 20px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 600;
}

.last-about-card-loaction {
    margin-top: -12px;
    margin-left: 25px;
    color: gray;
}

.last-about-card-loaction .symbollo {
    margin-bottom: -1px;
}

.last-about-card-paragraph {
    margin-left: 20px;
    color: gray;
}

.last-about-card-area-icon {
    display: flex;
    margin-left: 20px;
    color: gray;
}

.last-about-card-bottom-margin {
    display: flex;
}