.last-about {
    height: 140vh;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.last-about-top-content {
    display: flex;
    justify-content: center;
    gap: 490px;
}

.last-about-top-left-subheading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -50px;
    color: rgba(255, 136, 0, 0.89);
}

.last-about-top-left-heading {
    font-size: 50px;
    font-weight: 500;
}

.last-about-top-right {
    border: 1px solid rgb(228, 222, 222);
    display: flex;
    justify-content: center;
    width: 360px;
    border-radius: 10px;
    height: 50px;
    gap: 10px;
    align-items: center;
    margin-top: 120px;
}

.last-about-btn {
    border-radius: 5px;
    height: 35px;
    border: none;
    background-color: rgb(241, 236, 236);
    font-size: 20px;
    transition: about-bc-color 0.5s ease-in-out;
    cursor: pointer;
}

.last-about-btn:hover {
    background-color: #E3572B;
    color: white;
}

.last-about-card-content {
    width: 94%;
    display: flex;
    gap: 63px;
    position: relative;
    justify-content: center;
    height: 90vh;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
}

.last-about-card {
    width: 30%;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    background-color: rgb(228, 222, 222);
}

.last-about-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.last-about-card-details {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.author-profile img {
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 250px;
    width: 50px;
}

.last-about-card-raiting-and-numerical {
    display: flex;
    gap: 2px;
    margin-left: 20px;
}

.last-about-card-raiting-and-numerical span {
    margin-top: -3px;
}

.last-about-card-heading {
    margin-left: 20px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 600;
}

.last-about-card-loaction {
    margin-top: -12px;
    margin-left: 25px;
    color: gray;
}

.last-about-card-loaction .symbollo {
    margin-bottom: -1px;
}

.last-about-card-paragraph {
    margin-left: 20px;
    color: gray;
}

.last-about-card-area-icon {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    color: gray;
}

.last-about-card-bottom-margin {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 45px;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.last-about-card-bottom-price {
    color: #E3572B;
    margin-left: 10px;
}

.last-about-bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 45px;
    width: 90px;
    border: none;
    background: #16243E;
    color: #C2DF93;
    border-radius: 28px;
    cursor: pointer;
    transition: bg-color 0.5s ease-in;
}

.last-about-bottom-btn:hover {
    background-color: #E3572B;
    color: white;
}

.last-about-card-left-btn,
.last-about-card-right-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 35px;
    justify-content: center;
    bottom: 235px;
    align-items: center;
    display: flex;
    border: none;
    color: #E3572B;
    cursor: pointer;
    z-index: 1;
}

.last-about-card-right-btn {
    margin-left: 96%;
}